:root  {
    --primary: #263465;
    --light: #FFFFFF;
}

body{
    overflow: hidden;
    font-family: 'Montserrat',  sans-serif;
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    text-align: center;
    font-weight: bold;
    padding: 0 1.5rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

#sidebar-container .menu{
    width: 18rem;
}

.menu a{
    background-color: #0C3759;
    padding: 1rem 1rem;
    margin: 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
    transition: all 0.3s linear;
}

.menu a:hover{
    background-color:#018ABE;
}

.a-selected a{
    padding: 0;
    margin: 0;
    padding: 1rem 1rem;
    padding-right: 2.5rem;
    margin-left: 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem 0rem 0rem 2rem;
    transition: none;
    background-color:#018ABE;
}

.a-selected a:hover{
    background-color: none;
}

.navbar{
    border-bottom:#000000;
}

nav{
    color: #02457A;
}

.profile{
    margin-right: 2rem;
}

.greetings{
    margin: 1rem 2rem;
    font-weight: bold;
}

.border-bottom{
    color: #000000;
}

.navbar-light .navbar-nav .nav-link{
    color: #000000;
}

.dropdown-item{
    color: #000000;
}

.avatar{
    max-width: 35px;
}

#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.container{
    margin: 0;
    padding: 0;
}

.available_prod{
    padding: 0;
    margin-left: 2rem;
    padding-top: 4rem;
    text-align: left;
    display: flex;
    color:#02457A;
}

form{
    margin: 5rem 20rem;
    padding: 3rem 3rem;
    color: #FFFFFF;
    background-color:#8CAAC1;
    border-radius: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.form-title{
    margin-bottom: 2rem;
}

.form-content{
    display: flex;
    flex-direction: column;
}

label{
    color: var(--light);
    font-size: medium;
}

input, textarea{
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    background-color: var(--light);
    border: 0;
    border-radius: 1rem;
    outline: none;
}

select{
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    background-color: var(--light);
    border: 0;
    border-radius: 1rem;
    outline: none;
}

.btn{
    margin-left: 40%;
    margin-right: 40%;
    padding: 0.7rem 0;
    width: 12rem;
    border-radius: 2rem;
    margin-top: 1rem;
}