/*Estilo general*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face 
{src: url(../fonts/Berlin-sans-serif.ttf);
font-family: 'Berlin';
}

body {
    font-family: 'Montserrat', sans-serif;
    Color: #263465;
}
/*Estilo del encabezado de la página*/

.header{
    background: #FFFFFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

    .header a {
        color: #263465;
        text-decoration: none;
        padding: 2rem 0rem;
    }

.logo-login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 1.8em;
    margin-left: 20%;
}

.login_navigation{
    margin-right: 20%;
}

.login_navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.login_navigation ul li{
    font-weight: bold;
    font-size: 1.3em;
    display: inline-block;
}

    .login_navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

        .login_navigation ul li a:hover{
            background: #D9D9D9;
        }

    img{
        width: 2rem;
    }

/*Estilo de la barra de navegación de la página*/

.navigation_bar {
    padding-left: 20%;
    padding-right: 20%;
    color: #ffffff;
    background: #263465;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size:large;
    position: fixed;
    left: 0;
    right: 0;
    top: 6rem;

}

.navigation_bar_logo .navigation_img{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(200deg) brightness(106%) contrast(101%);
}

.search_bar{
    display: flex;
    align-items: center;
}

.navigation_bar_input{
    height: 2rem;
    padding: 0 2rem;
    font-weight:bold ;
    color: #848A93;
    margin-left: 1rem;
    border: 0;
    border-radius: 3rem;
    outline: none;
    width: 32rem;
}

.navigation_bar_items ul{
    display: flex;
}

.navigation_bar_items ul li{
    font-weight: bold;
    font-size: 1em;
    padding: 2rem 0;
    padding-left: 1.3rem;
    display: inline-block;
}

.navigation_bar_items ul li a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.5em;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation_bar_items ul li a:hover{
    background: #018ABE;
}


/*Estilo contenido de la página*/

.main{
    padding-top: 10rem;
    padding-left: 20%;
    padding-right: 20%;
}

.analysis_service h1{
    padding-top: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.analysis_service h2{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.analysis_service p{
    text-align: center;
    font-weight: bold;
}

.first_form{
    padding-top: 2rem;
    border: #263465;
    border-width: 2rem;
}

.first_form .form{
    font-weight: bold;
}

.first_form .form button{
    font-weight: bold;
    border:0;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background: #018ABE;
    color: #FFFFFF;
}

.container{
    display:flex;
    align-items: center;
    justify-content:center;
    padding-bottom: 1rem;
}

.cosa { 
    justify-content: center;
    display: block;
}

.container .first_form {
    border: 1px solid #263465;
    padding: 30px;
}

/*Estilo del pie de página de la página*/

.footer {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #2a3260;
    color: #ffffff;
    font-size:small;
}

.footer_container p a{
    color: #FFFFFF;
    text-decoration: none;
}