*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(36, 47, 83);
}

.contenedorPrincipal {
    width: 350px;
    height: auto;
    padding: 20px;
    background: rgba(5, 10, 18, 0.662);
    padding: 10px;
    border: 2px solid rgba(137, 144, 169, 0.957);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: inset 0px 0px 30px rgb(183, 186, 205);
    z-index: 1;
    background: transparent;
    overflow: hidden;
  }
  .contenedor-login{
    background-color: transparent;
    padding: 40px;
    border-radius: 5px; 
}
.icon-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4%;
    padding: 5px;
    margin: 5px;
    margin-top: 5%;
    margin-bottom:25% ;
}
.icon {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 3.9em;
    height: 3.9em;
    line-height: 57px;
}
  .icon-close {
    position: absolute;
    top : 0;
    right: 0;
    width: 7%;
    height: 9%;
    background:#018abe;
    font-size: 2em;
    color: #e8e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:20px;
    cursor: pointer;
    z-index:1;
  }
  
  .contenedor-register {
    background-color: transparent;
    padding: 40px;
    border-radius: 5px;
  }
  
  .Titulo {
    display: block;
    width: 50%;
    height: 5%;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom: #018abe 2px solid;
  }
  
  .parte1 {
    display: block;
  }
  
  .Parte2 {
    display: none;
  }
  
  .Datos {
    margin-bottom: 20px;
  }
  .Input-datos-formularios input {
    width: 85%;
    height: 15%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: rgb(240, 238, 238) 2px solid;
    color: #e8e2e2;
    border-radius: 5px;
    margin-bottom: 3px;
  }
  .Input-datos-formularios label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 10%;
    top: 5px;
    margin-left: 1%;
    color: rgb(240, 238, 238);
    font-size: 13px;
    transform: translateY(-10%);
    pointer-events: none;
    transition: .5s;
  }

  .Input-datos-formularios select{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: rgb(216, 223, 234);
    border-bottom: 1px solid whitesmoke;
    width: 65%;
    height: 15%;
    margin-top: 5px;
    margin-left: 1%;
    margin-bottom: 5px
}

  .login-registrar {
    text-align: center;
    margin-top: 10px;
  }
  .login-registrar a{
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #e8e2e2;
  }
  .login-registrar a:hover{
    font-weight: bold;
    text-decoration: underline;
    color: #018abe;
}
  .Parte2 .check-botton {
    margin-top: 15px;
  }
  
  .botonC {
    text-align: center;
    margin-top: 20px;
  }
  
  .botonC input[type="submit"] {
    background-color: #018abe ;
    color: whitesmoke;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .botonC input[type="submit"]:hover {
    background-color: whitesmoke;
    color:#018abe ;
    
  }
  #recuperarContraseña {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: 2px;
}
#recuperarContraseña:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #018abe;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}