:root {
    --primary: #0C3759;
    --secondary: #4BACD1;
    --light: #FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--light);
    background-color: var(--primary);
    margin: 0;
}

.content {
    margin: 5rem;
    border-radius: 1rem;
    padding: 2rem;
}

.content-title {
    text-align: center;
    margin-bottom: 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container h1 {
    margin: 0;
    color: var(--light);
}

.admin-greeting {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}

.content-first-row,
.content-second-row,
.content-third-row {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    animation: none;
    cursor: auto;
}

.btn {
    background-color: var(--light);
    border: none;
    font-size: 1.2rem;
    border-radius: 2rem;
    color: var(--primary);
    text-align: center;
    cursor: pointer;
    margin: 1rem;
    padding: 1.5rem 4rem;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary);
    color: var(--light);
    transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
    .btn {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        margin: 2rem;
    }
    
    .btn {
        padding: 1.2rem 3rem;
        font-size: 1rem;
    }
}