/*Estilo general*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face 
{src: url(../fonts/Berlin-sans-serif.ttf);
font-family: 'Berlin';
}

body {
    font-family: 'Montserrat', sans-serif;
    Color: #263465;
}
/*Estilo del encabezado de la página*/

.header{
    background: #FFFFFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

    .header a {
        color: #263465;
        text-decoration: none;
        padding: 2rem 0rem;
    }

.logo-login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.8em;
    margin-left: 20%;
}

.login_navigation{
    margin-right: 20%;
}

.login_navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.login_navigation ul li{
    font-weight: bold;
    font-size: 1.3em;
    display: inline-block;
}

    .login_navigation ul li a {
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

        .login_navigation ul li a:hover{
            background: #D9D9D9;
        }

    img{
        width: 2rem;
    }

/*Estilo de la barra de navegación de la página*/

.navigation_bar {
    padding-left: 20%;
    padding-right: 20%;
    color: #ffffff;
    background: #263465;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size:large;
    position: fixed;
    left: 0;
    right: 0;
    top: 6rem;

}

.navigation_bar_logo .navigation_img{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(200deg) brightness(106%) contrast(101%);
}

.search_bar{
    display: flex;
    align-items: center;
}

.navigation_bar_input{
    height: 2rem;
    padding: 0 2rem;
    font-weight:bold ;
    color: #848A93;
    margin-left: 1rem;
    border: 0;
    border-radius: 3rem;
    outline: none;
    width: 32rem;
}

.navigation_bar_items ul{
    display: flex;
}

.navigation_bar_items ul li{
    font-weight: bold;
    font-size: 1em;
    padding: 2rem 0;
    padding-left: 1.3rem;
    display: inline-block;
}

.navigation_bar_items ul li a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.5em;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation_bar_items ul li a:hover{
    background: #018ABE;
}

/*Estilo de la primer barra de contenido de la página (camaras)*/

.main{
    margin-top: 11rem;
}

.services_container{
    background: #D9D9D9;
    padding-left: 20%;
    padding-right: 20%;
}

.services_container h1{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.services_container .services_offered{
    display: flex;
    font-weight: bold;
    padding-bottom: 2em;
}

.services_offered .service_img{
    width: 20rem;
}

.services_offered .service_info{
    padding-left: 3em;

}

.services_offered .service_info h2{
    padding-bottom: 2rem;
}

.services_offered .service_info p{
    font-size: large;
}

.services_container button{
    margin-left: 72%;
    margin-bottom: 3em;
    cursor: pointer;
    background-color: #018ABE;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    transition: all 0.4s linear;
}

.services_container button a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: small;
}

.services_container button:hover{
    background: #263465;
}

/*Estilo de la segunda barra de contenido de la página (camaras)*/

.services_offered_2{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3em;
    display: flex;
    font-weight: bold;
    padding-bottom: 2em;
}

.services_offered_2 .service_img_2{
    width: 20rem;
    height: 12rem;
}

.service_info_2{
    padding-left: 3em;
}

.service_info_2 h2{
    padding-bottom: 2rem;
}

.service_info_2 p{
    font-size: large;
}

.services_container_2 button{
    margin-right: 20%;
    margin-left: 68%;
    margin-bottom: 3em;
    cursor: pointer;
    background-color: #018ABE;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    transition: all 0.4s linear;
}

.services_container_2 button a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: small;
}

.services_container_2 button:hover{
    background: #263465;
}

/*Estilo de la tercera barra de contenido de la página (servicios)*/

.services_container_3{
    background: #D9D9D9;
    padding-top: 3em;
    padding-left: 20%;
    padding-right: 20%;
}

.services_container_3 h1{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.services_container_3 .services_offered_3{
    display: flex;
    font-weight: bold;
    padding-bottom: 2em;
}

.services_offered_3 .service_img_3{
    width: 20rem;
}

.services_offered_3 .service_info_3{
    padding-left: 3em;

}

.services_offered_3 .service_info_3 h2{
    padding-bottom: 2rem;
}

.services_offered_3 .service_info_3 p{
    font-size: large;
}

.services_container_3 button{
    margin-left: 72%;
    margin-bottom: 3em;
    cursor: pointer;
    background-color: #018ABE;
    padding: 1rem;
    border: 0;
    border-radius: 1rem;
    transition: all 0.4s linear;
}

.services_container_3 button a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: small;
}

.services_container_3 button:hover{
    background: #263465;
}


/*Estilo del pie de página de la página*/

.footer {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #2a3260;
    color: #ffffff;
    font-size:small;
}

.footer_container p a{
    color: #FFFFFF;
    text-decoration: none;
}