/*Estilo general*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face 
{src: url(../fonts/Berlin-sans-serif.ttf);
font-family: 'Berlin';
}

body {
    font-family: 'Montserrat', sans-serif;
    Color: #263465;
}
/*Estilo del encabezado de la página*/

.header{
    background: #FFFFFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

    .header a {
        color: #263465;
        text-decoration: none;
        padding: 2rem 0rem;
    }

.logo-login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Berlin';
    font-size: 1.8em;
    margin-left: 20%;
}

.login_navigation{
    margin-right: 20%;
}

.login_navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.login_navigation ul li{
    font-weight: bold;
    font-size: 1.3em;
    display: inline-block;
}

    .login_navigation ul li a{
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

        .login_navigation ul li a:hover{
            background: #D9D9D9;
        }

    img{
        width: 2rem;
    }

/*Estilo de la barra de navegación de la página*/

.navigation_bar {
    padding-left: 20%;
    padding-right: 20%;
    color: #ffffff;
    background: #263465;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size:large;
    position: fixed;
    left: 0;
    right: 0;
    top: 7rem;
}

.navigation_bar_logo .navigation_img{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(200deg) brightness(106%) contrast(101%);
}

.search_bar{
    display: flex;
    align-items: center;
}

.navigation_bar_input{
    height: 2rem;
    padding: 0 2rem;
    font-weight:bold ;
    color: #848A93;
    margin-left: 1rem;
    border: 0;
    border-radius: 3rem;
    outline: none;
    width: 32rem;
}

.navigation_bar_items ul{
    display: flex;
}

.navigation_bar_items ul li{
    font-weight: bold;
    font-size: 1em;
    padding: 2rem 0;
    padding-left: 1.3rem;
    display: inline-block;
}

.navigation_bar_items ul li a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.5em;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation_bar_items ul li a:hover{
    background: #018ABE;
}

/*Estilo del contenido de la página*/

.main{
    padding-top: 12em;
}

/*Estilo de producto de la lista*/

.product_or_service_list{
    font-weight: bold;
    color: #263465;
}

.product_sample{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 20%;
    padding-right: 20%;
}

.product_sample .product_img{
    width: 5rem;
}

.product_sample .product_name{
    font-size: 0.9rem;
}

.product_sample .quantity{
    font-size: large;
}

.product_sample p{
    font-size: 1.5rem;
}

.product_sample .minus_icon{
    width: 2rem;
}

.product_sample .plus_icon{
    width: 2rem;
}

.product_sample button{
    cursor: pointer;
    color: #FFFFFF;
    background-color: #018ABE;
    padding: 1.3rem;
    border: 0;
    border-radius: 1rem;
    transition: all 0.4s linear;
}

.product_sample button:hover{
    background: #263465;
}
.product_sample button a{
    color: #FFFFFF;
    text-decoration: none;
}



/*Estilo de servicio de la lista*/

.service_sample{
    display: flex;
    align-items: center;
    background: #D9D9D9;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 20%;
    padding-right: 20%;
}

.service_sample .helmet_img{
    padding-left: 1rem;
    width: 5rem;
}

.service_sample .service_name{
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 0.9rem;
}

.service_sample button{
    margin-left: 29%;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #018ABE;
    padding: 1.3rem;
    border: 0;
    border-radius: 1rem;
    transition: all 0.4s linear;
}

.service_sample button:hover{
    background: #263465;
}

.service_sample button a{
    color: #FFFFFF;
    text-decoration: none;
}

.confirm_budget{
    padding-top: 2rem;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: bold;
}

.confirm_budget button{
    cursor: pointer;
    color: #FFFFFF;
    background-color: #018ABE;
    padding: 1.3rem;
    border: 0;
    border-radius: 1rem;
    transition: all 0.4s linear;
    margin-bottom: 2rem;
}

.confirm_budget button:hover{
    background: #263465;
}

.confirm_budget button a{
    color: #FFFFFF;
    text-decoration: none;
}

/*Estilo del pie de página de la página*/

.footer {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #2a3260;
    color: #ffffff;
    font-size:small;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_container p a{
    color: #FFFFFF;
    text-decoration: none;
}