@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face 
{src: url(../fonts/Berlin-sans-serif.ttf);
font-family: 'Berlin';
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    font-family: 'Montserrat';
    font-weight: bold;
    text-decoration: none;
    height: 100%;
}
.iconos{
    width: 20px;
}
#editar-p{
    position: absolute;
    height: 30px;
    left: 450px;
    top: 210px;
    width: 25px;
}
#editar-d{
    position: absolute;
    height: 30px;
    left: 453px;
    top: 190px;
    width: 33px;
}
#buscar{
    position: absolute;
    width: 24px;
    height: 25px;
    left: 946px;
    top: 61px;
}
.menu {
    display: flex;
}

nav {
    position: relative;
    top: 0;
    bottom: 0;
    background-color: #132E43;
    text-decoration: none;
    display: flex;
    width: 20%;
}

ul {
    height: 10%;
    text-decoration: none;
    list-style: none;
    position: relative;
    top: 25%;
}

ul li a{
    text-decoration: none;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    border-radius: 40px;
    height: 55%;
}

a:hover {
    background-color:  #018ABE;
    cursor: pointer;
}

ul li h1 {
    font-family: 'Berlin';
    color: whitesmoke;
    bottom: 55%;
    position: relative;
    left: 15%;
}

.navegacion{
    box-sizing: border-box;
    width: 532px;
    height: 31px;
    left: 399px;
    top: 8px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
    position: absolute;
}

.editar-perfil{
    position: absolute;
    height: 269px;
    left: 381px;
    top: 59px;
    background: rgba(200, 255, 209, 0.56);
    border-radius: 0px 20px 0px 0px;
    width: 539px;
}
#foto-perfil{
    position: absolute;
    height: 159px;
    left: 191px;
    top: 50px;
    width: 157px;
}
.editar-descripcion{

    position: absolute;
    width: 539px;
    height: 269px;
    left: 381px;
    top: 352px;
    
    background: rgba(251, 230, 176, 0.71);
    border-radius: 0px 20px 0px 0px;
}
#texto-descripcion{
    box-sizing: border-box;
    width: 319px;
    height: 188px;
    left: 100px;
    top: 50px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    position: absolute;
}
.perfil-esquina{
    position: absolute;
    width: 369px;
    height: 178px;
    left: 1052px;
    top: 5px;
    background: rgba(214, 232, 238, 0.56);
    border-radius: 0px 20px 0px 0px; 
}
#foto-perfil-esquina{
    position: absolute;
width: 81px;
height: 81px;
left: 280px;
top: 59px;
}
#nombre-apellido{
    position: absolute;
    width: 288px;
    height: 36px;
    left: 0px;
    top: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    text-align: right;
    color: #000000;
}
#admin{
    position: absolute;
    height: 36px;
    left: 90px;
    top: 105px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #9FA7B1;
    width: 174px;
}

h2{
    position: absolute;
    height: 36px;
    left: 1058px;
    top: 254px;
    bottom: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    width: 200px;

color: #000000;
}

#chevrolett{
    position: absolute;
    height: 18px;
    left: 1254px;
    top: 261px;
    width: 18px;
}

#chevrolet{
    position: absolute;
    height: 18px;
    left: 1358px;
    top: 261px;
    width: 16px;
}

.lista{
    list-style: none;
    position: absolute;
    height: 40px;
    left: 1040px;
    top: 405px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: rgba(0, 0, 0, 0.83);
    width: 381px;
}
#tareas{
    list-style: none;
    position: absolute;
    height: 36px;
    left: 1091px;
    top: 315px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 9px;
    color: rgb(0, 0, 0);
    width: 26px;
}