@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face 
{src: url(../fonts/Berlin-sans-serif.ttf);
font-family: 'Berlin';
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    height: 100%;
    
}
body{
    display: block-flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size:100%;
    overflow-x: hidden;
}

.encabezado {
    height: 100px;
    display: flex;
    padding:  45px 100px;
    align-items: center;
    justify-content:space-around;
}

.encabezado .logo b{
    font-family: 'Berlin', sans-serif;
    color: #396bb2;
    font-size: 30px;
    position: relative;
    bottom: 10px;
}

.encabezado .registro {
    position: relative;
    display: flex;
    align-items: center;
    left: 9%;
    width: 60%;
    height: 100px;
    right: 0;
}

.encabezado .registro i {
    display: flex;
    font-size: 2em;
}
/*Inicio de sesion*/
.botonLogin{
    width: 130px;
    height: 50px;
    text-decoration: none;
    background: transparent;
    outline:none;
    border:none;
    cursor: pointer;
    font-size: 1.1em;
    margin-right: 10px;
    margin-top: 5px;
    overflow: hidden
}
.botonLogin:hover{
    width: 130px;
    height: 50px;
    background-color: #2a3260;
    color:#fff;
    font-weight: bold;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.contenedorPrincipal{
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 700px;
    background: rgba(5, 10, 18, 0.662);
    padding: 10px;
    border: 2px solid rgba(137, 144, 169, 0.957);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: inset 0px 0px 30px rgb(183, 186, 205);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   /* transform: scale(0);*/
    /*transition: transform .5s ease,height .2s ease;*/
}
/*.contenedorPrincipal.activate-popup {
    transform: scale(1);
}*/
.contenedorPrincipal .contenedor-login{
    width: 100%;
    padding: 5px;
    background: transparent;
    
}

/*.contenedorPrincipal .contenedor-register{
    display: none;
}*/
.contenedorPrincipal .icon-close{
    position: absolute;
    top : 0;
    right: 0;
    width: 6%;
    height: 6%;
    background:#018abe;
    font-size: 2em;
    color: #e8e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:20px;
    cursor: pointer;
    z-index:1;
}
.Titulo{
    display: block;
    width: 50%;
    height: 5%;
    margin-top:0px;
    margin-left: 20px;
    align-items: center;
    font-size: 20px;
    font-weight: 20;
    text-align: center;
    padding-bottom: 45px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    border-bottom: #018abe 2px solid;
}

.icon-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 5px;
    margin: 10px;
    margin-top: 10%;
    margin-bottom:10% ;
}
.icon {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 4.5em;
    line-height: 57px;
}
.Datos{
    display: flex;
    flex-wrap: wrap;
    height: 40%;
    padding: 10px;
    margin: 10px;
    background: transparent;
}
.Input-datos-formularios {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 5px;
    margin-bottom: 15px;
}
.Input-datos-formularios label{
    margin-left: 10%;
    height: 10%;
    top: 5px;
    margin-left: 16%;
    color: rgb(240, 238, 238);
    font-size: 13px;
    transform: translateY(-10%);
    pointer-events: none;
    transition: .5s;
}
.Input-datos-formularios input:focus-label,
.Input-datos-formularios input:valid-label{
    top: -5px;
}
  

.Input-datos-formularios input{
    display: block;
    justify-items: center;
    margin-top: 5px;
    margin-left: 16%;
    margin-bottom: 5px;
    width: 85%;
    height: 15%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: rgb(240, 238, 238) 2px solid;
    color: #e8e2e2;
    border-radius: 5px;
   

}
.botonC {
    display: flex;
    margin-top: 0%;
    width: 100%;
    height: 50%;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
.botonC input{
    
    width: 80%;
    height: 50%;
    position: relative;
    background-color: #018abe ;
    border: none;
    color: whitesmoke;
    border-radius: 7px;
    padding: 0px;
    margin-left: 35px
}
.recuperar-contraseña{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}
#recuperarContraseña{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    margin-top: 0px;
    justify-items: center;
    align-items: center;
}
#recuperarContraseña:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #018abe;
}
.login-registrar a{
    display: block;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #e8e2e2;
}
.login-registrar a:hover{
    font-weight: bold;
    text-decoration: underline;
    color: #018abe;
}
/*Formulario registro*/
.contenedorPrincipal .contenedor-registrer .parte1{
    width: 100%;
    height: 100%;
    padding: 5px;
    background: transparent;
}

.Input-datos-formularios select{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    color: rgb(216, 223, 234);
    border-bottom: 1px solid whitesmoke;
    width: 65%;
    height: 15%;
    margin-top: 5px;
    margin-left: 16%;
    margin-bottom: 5px
}
.selecciona{
    color: #2a3260;
}
#Continuar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-bottom: 0;
}
/*Parte dos del formulario de registro*/
.contenedorPrincipal .contenedor-registrer .parte2{
    width: 100%;
    padding: 5px;
    background: transparent;
}

.Parte2 .Datos{
    display: flex;
    justify-content: center;
    align-items: first baseline;
    margin-top: 0;
    height: 80%;
    
}
.Parte2 .Input-datos-formularios{
    margin-top: 50px;
    margin-bottom: 10px;
    height: 40%;
}
.check-botton{
    display: flexbox;
    justify-content: center;
    align-items:flex-end;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    
}
.check-botton input[type="radio"]{
    display: inline-flex;
    width: 15px;
    height: 12px;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
}

.check-botton label{
    display: inline-flex;
    margin-top: 0;
    margin-left:5px ;
    margin-bottom: 10px;
    font-size: 11px;
}

/*Las lineas de codigo siguiente se encargan de ocultar los botones del input type="number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}


.encabezado2 {
    height: 75px;
    display: flex;
    padding: 30px 100px;
    align-items: center;
    justify-content:space-around;
    color: #000;
    background-color: #2a3260;
}

.encabezado2 nav {
    display: flex;
    align-items: center;
}

.encabezado2 nav a {
    padding: 0 15px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
}

.encabezado2 .busqueda {
    display: flex;
}

.encabezado2 .busqueda input{
    height: 25px;
    border-radius: 25px;
    border: none;
}

.encabezado2 .busqueda button{
    border: none;
    background: none;
    color: #fff;
    padding-right: 5px ;
}

.carrusel {
    background-color: #000;
    width: 100%;
    height: 630px;
}

.carrusel img {
    height: 630px;
    width: 100%;
    opacity: 60%;
    
}

.desc {
    position: relative;
    text-align: center;
    bottom: 70%;
    color: #fff;
}

.desc h1 {
    font-size: 30px;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.desc b {
    font-size: 30px;
    font-weight:bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.encabezado3 {
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    bottom: 10%;
    height: 100px;
}

.contenedor2 {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 10px;
}
.contenedor2 figure {
    position: relative;
    height: 300px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.50);
    cursor: pointer;
}

.contenedor2 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedor2 figure .capa2{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2a3260;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor2 figure:hover > .capa2{
    opacity: 1;
    visibility: visible;
}
.contenedor2 figure:hover > .capa2 h3{
    margin-top: 65px;
    margin-bottom: 15px;
}
.contenedor2 figure .capa2 h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
    text-decoration: none;
}
.contenedor2 figure .capa2 p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.contenedor2 figure .capa2 a{
    text-decoration: none;
}

.contenedor3 {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    height: 10px;
    padding-right: 60px;
    margin: 0;

}
.contenedor3 figure {
    position: relative;
    height: 300px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.50);
    cursor: pointer;
}

.contenedor3 figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedor3 figure .capa3{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2a3260;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor3 figure:hover > .capa3{
    opacity: 1;
    visibility: visible;
}
.contenedor3 figure:hover > .capa3 h3{
    margin-top: 65px;
    margin-bottom: 15px;
}
.contenedor3 figure .capa3 h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}
.contenedor3 figure .capa3 p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.contenedor3 figure .capa3 a{
    text-decoration: none;
}

.encabezado3 .frase {
    text-align: center;
    color: #fff;
    position: absolute;
    width: 20%;
    font-size: small;
    margin-right: 3%;
}

.aboutus {
    background-color: #2a3260;
    height: 10%;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    position: relative; 
    top: 20%;
    box-shadow: 5px 5px 15px gray;
}

.aboutus .nosotros{
    text-align: center;
    width: 100%;
    position: absolute;
}

.aboutus h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.aboutus .img1 {
    left: 100%;
    height: 300%;
    position: relative;
    border-radius: 50%;
}

.aboutus img{
    border-radius: 20%;
    background-color: #fff;
    transition: all 300ms;
}

.aboutus img:hover {
    transform: scale(1.15);
}

.mision {
    background-color: #2a3260;
    height: 10%;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    position: relative; 
    top: 45%;
    left: 42%;
    box-shadow: 5px 5px 15px gray;
    border: #000;
}

.mision .title{
    text-align: center;
    width: 100%;
    position: absolute;
}

.mision h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.mision .img2 {
    right: 100%;
    height: 250%;
    position: relative;
    border-radius: 10%;
    top: 5%;
}

.mision img{
    border-radius: 10%;
    background-color: #fff;
    transition: all 300ms;
}

.mision img:hover {
    transform: scale(1.15);
}

.vision {
    background-color: #2a3260;
    height: 10%;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    position: relative; 
    top: 65%;
    box-shadow: 5px 5px 15px gray;
}

.vision .title2 {
    text-align: center;
    width: 100%;
    position: absolute;
}

.vision h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.vision .img3 {
    top: 30%;
    left: 100%;
    height: 250%;
    position: relative;
    border-radius: 10%;
}

.vision img{
    border-radius: 10%;
    background-color: #fff;
    transition: all 300ms;
}

.vision img:hover {
    transform: scale(1.15);
}


.pie {
    background-color: #2a3260;
    height: 10%;
    position: relative;
    top: 100%;
    display: flex;
    color: #fff;
    font-size: 50%;
    align-items: center;
    justify-content: space-around;
}

.pie p {
    display: flex;
    align-items: center;
}